[Unit]
Description=Smart Update guarded Arch Linux update service
Documentation=https://github.com/Alyk976/smart-update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/smart-update
SuccessExitStatus=29 34
User=root
Group=root
UMask=0027
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
